body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

h3 {
	margin: 0;
	padding: 0;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
	margin-top: 20px;
	background-color: #FFF;
  padding: 0;
  border: solid 1px black;
	position: relative;
}

#wrapper #header {
	height: 120px;
	border-bottom: 1px #000 solid;
}

#wrapper #content {
	clear: both;
	margin: 10px;
}

#menu {
	padding: 0;
	margin: 0;
	width: 947px;
	font-size: 12px;
}

#menu ul {
	width: 947px;
	padding: 0;
	margin: 0;
}

#menu ul li {
	padding: 4px;
	margin: 0 -1px 0 0;
	list-style-type: none;
	float: left;
	border: 1px #ddd solid;
	background: #0093DD;
}

#menu ul li a {
	top: 0;
	padding: 5px 8px;
	text-decoration: none;
	color: #fff;
}

#menu ul li:hover {
	background: #003399;
}

#users .user:nth-child(2n+2) .field {
	background: #ccc;
	border: 1px #ddd solid;
}

#users .name,  #users .email{
	width: 200px;
	height: 18px;
}

#users .actions {
	width: 80px;
	height: 18px;
}

#users .title {
	font-weight: bold;
	text-align: center;
	background: #000;
	color: #fff;
}

#users .title,  #users .user .field{
	float: left;
	padding: 4px;
	border: 1px #ccc solid;
	margin: -1px 0 0 -1px;
}

#Flash {
  padding: 5px 8px;
  margin: 10px 0;
}

#Flash.flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#Flash.flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#Flash.flash_info {
	background: #FEF5DA no-repeat 2px 2px;
	border: 1px solid #FCEBB4;
	color: #3E1F02;
}

.fieldWithErrors {
  display: inline;
}

div#login {
	width: 300px;
	margin: 30px auto;
	padding: 20px;
	border: 1px #ccc solid;
	font-size: 12px;
}

#logo_login {
	display: block;
	margin: 0 auto;
}

#admin .box2 h3 {
	background: #000;
	color: #fff;
	padding: 6px;
}

#admin .box2 h3 a {
	font-size: 12px;
	font-weight: normal;
	color: #aaa;
}

.box2 div {
	margin: 10px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

table#services tr th {
	padding: 10px;
}

table#services tr td {
	text-align: center;
}

.box2 {
	margin: 10px;
	padding: 0;
	border: 1px #ccc solid;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}